{:paths ["src" "../common/src"]
 :deps {org.babashka/cli {:mvn/version "0.7.53"}}
 :tasks {
         go:commit-msg-enforcement {:task (do
                            (defn get-shell-line
                              []
                              (let [shell-line "bb src/client_side_hooks/commit_msg_enforcement/core.bb"]
                                (if (nil? *command-line-args*)
                                  shell-line
                                  (str shell-line " " (clojure.string/join " " (map (fn [x] (str x)) *command-line-args*))))))
                            (shell (get-shell-line)))} 
         
         test:commit-msg-enforcement {:extra-paths ["test"]
                      :extra-deps {io.github.cognitect-labs/test-runner
                                   {:git/url "https://github.com/cognitect-labs/test-runner"
                                    :git/tag "v0.5.1"
                                    :git/sha "dfb30dd"}}
                      :task (exec 'cognitect.test-runner.api/test)
                      :exec-args {:dirs ["test/client_side_hooks/commit_msg_enforcement"]}
                      :org.babashka/cli {:core {:nses [:symbol]
                                                :vars [:symbol]}}}
         
         test {:depends [test:commit-msg-enforcement]}
         
         uber:commit-msg-enforcement {:extra-deps {io.github.borkdude/carve {:git/url "https://github.com/borkdude/carve"
                                                             :git/sha "cb621317ae1582869c8bd8f1a47cf57a3598d803"}}
                      :task (do
                              (shell "mkdir -p gen/lib")
                              (shell "rm -rf gen/lib/commit-msg-enforcement")
                              (shell "bb uberscript gen/lib/commit-msg-enforcement src/client_side_hooks/commit_msg_enforcement/core.bb")
                              (exec 'carve.api/carve!)
                              (println "Created uberscript 'commit-msg-enforcement' in 'gen/lib'."))
                      :exec-args {:paths ["gen/lib/commit-msg-enforcement"]
                                  :aggressive true
                                  :silent true}}
         
         uber {:depends [uber:commit-msg-enforcement]}}}
